# Aliases

alias update="sudo pacman -Syu;yay"
alias useless='pacman -Qdtq'
alias autoremove='pacman -Qdtq | pacman -Rs -'

alias dotfiles='/usr/bin/git --git-dir="$HOME/.dotfiles/" --work-tree="$HOME"'
