* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(26, 27, 38, 0.25);
}

button {
  min-width: 90px;
  margin: 0px;
  border-radius: 0px;
  border-color: transparent;
  border-top-color: #7dcfff;
  border-bottom-color: #7dcfff;
  text-decoration-color: #9aa5ce;
  color: #9aa5ce;
  background-color: #1a1b26;
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus {
  color: #1a1b26;
  background-color: #7dcfff;
  outline-style: none;
  margin: 10px;
}

#lock {
  background-image: image(
    url("/home/erfer/.config/wlogout/icons/lock_white.png")
  );
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-left-color: #7dcfff;
}

button:focus#lock {
  background-image: image(
    url("/home/erfer/.config/wlogout/icons/lock_black.png")
  );
}

#logout {
  background-image: image(
    url("/home/erfer/.config/wlogout/icons/logout_white.png")
  );
}

button:focus#logout {
  background-image: image(
    url("/home/erfer/.config/wlogout/icons/logout_black.png")
  );
}

#suspend {
  background-image: image(
    url("/home/erfer/.config/wlogout/icons/suspend_white.png")
  );
}

button:focus#suspend {
  background-image: image(
    url("/home/erfer/.config/wlogout/icons/suspend_black.png")
  );
}

#hibernate {
  background-image: image(
    url("/home/erfer/.config/wlogout/icons/hibernate_white.png")
  );
}

button:focus#hibernate {
  background-image: image(
    url("/home/erfer/.config/wlogout/icons/hibernate_black.png")
  );
}

#shutdown {
  background-image: image(
    url("/home/erfer/.config/wlogout/icons/shutdown_white.png")
  );
}

button:focus#shutdown {
  background-image: image(
    url("/home/erfer/.config/wlogout/icons/shutdown_black.png")
  );
}

#reboot {
  background-image: image(
    url("/home/erfer/.config/wlogout/icons/reboot_white.png")
  );
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-right-color: #7dcfff;
}

button:focus#reboot {
  background-image: image(
    url("/home/erfer/.config/wlogout/icons/reboot_black.png")
  );
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}
